#crownAnimationDiv{
    height: 50vh;
    background-color: var(--dark-gray);
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#crownImg{
    visibility: hidden;
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
}
