#about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#jumboDiv{
    width: 100%;
}

#about .jumbo-text-bubble{
  font-size: 4vw;

}

#aboutQuoteText{
  padding-top: 20vh ;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
}

#aboutNarrativeText{
  padding-top: 10vh;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--light-yellow);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.narrativeMove{
  display: inline-block;
}

#a, #z {
  text-shadow: 1px 1px var(--darker-gray);
}

#aTarget{
  position:fixed;
  left: 40%;
  top: 55%;
  width: 10px;
  height: 10px
}

#arrowTarget{
  position: fixed;
  left: 50%;
  top: 55%;
  width: 10px;
  height: 10px
}

#zTarget{
  position: fixed;
  right: 40%;
  top: 55%;
  width: 10px;
  height: 10px
}

#aboutCrown{
  width: 4vw;
  position: fixed;
  right: 38.2%;
  top:44%
}

#aboutTagline{
  text-transform: uppercase;
  position: fixed;
  top:20%;
  left: 15%;
  width: 70%;
  margin: 0 auto;
  z-index: 3;
  font-weight: 300;
  opacity: 0;
}

#aboutTech{
min-height: 100vh;
color: var(--light-yellow);
width: 80%;
margin: 0 auto;
padding-top: 10vh;

}

/* Skills */
.progress{
  background-color: var(--lighter-teal);
}
.progress-bar{
  background-color: var(--teal);
}
#skillsDiv h3{
  font-weight: bold;
}

/* Special Cursor */
#about .special-cursor a{
}

#about .special-cursor a:hover{

}