.card{
    background-color: transparent;
    border:none;
    width: 250px;
    display: inline-block;
    text-align: center;
}

.card img{
    height: 150px;
    max-width: 250px;
    filter: drop-shadow( 2px 2px var(--darker-gray));
}


