#headerDiv{
    /* background-color:  var(--dark-gray); */
    min-height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding-top: 25px; */
}

#titleDiv{
    width: 95%;
    margin: -6vw auto 0 auto;
}

.title{
    margin: 0 5px;
    font-size: 5vw;
    text-shadow: 3px 3px var(--darker-gray);
    font-weight: 300;
  }

  #subtitleDiv{
    margin-top: -2.5vw;
    font-size: 3.5vw;
    text-shadow: 1px 1px var(--darker-gray);
    color: var(--lighter-yellow);
  }

#headerDiv h1, #headerDiv h2, #headerDiv h3{
    color:var(--yellow);

}

#headerDiv a{
    text-decoration: none;
}

#headerDiv a:hover{
    text-decoration: underline;
    text-decoration-color: var(--light-gray);
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}


#computer{
    opacity: 0;
    width: 15vw;
    /* filter:drop-shadow(3px 3px var(--darker-gray)); */
}

#crown{
    width: 6vw;
    opacity: 0;
    margin-bottom: -8px;
    /* margin-right: 2.5vw; */
    filter:drop-shadow(2px 2px var(--darker-gray));
}

#logoDiv{
    padding-top: 10vh;
}

#computerText{
    margin: -13.5vw auto 14vw auto;
    width: 13vw;
    padding: 0 1% 0 1.25%;
    color: var(--darker-gray);
    z-index: 2;
    position: relative;
    font-size: 3vw;
    font-weight: bold;
}

#computerText .col-sm-3, #computerText .col-sm-6{
    padding: 0;
}