#aboutDiv{
    min-height: 100vh;
    background-color: var(--dark-gray);
    /* border-top: 2px solid var(--darker-gray); */
    border-bottom: 2px solid var(--darker-gray);
    /* color: var(--darker-gray); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 25px 0; */
}

#jumboDiv{
    width: 80%;
}